@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Marvel", sans-serif;
  text-transform: uppercase;
}
body {
  background-image: url("../images/background.png");
}

.marvelous-picture {
  height: 80vh;
  position: relative;
}
.container-hero-page {
  background-repeat: no-repeat;
  background-color: transparent;
}
.title-hero {
  width: 300px;
  height: 100px;
  position: relative;
}
.title-hero img,
.navbar-brand img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.navbar-brand {
  width: 200px;
  height: 50px;
  position: relative;
}
.marvelous-describe {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.marvelous-describe button {
  width: 20%;
  text-align: center;
}
.marvelous-describe h3 {
  font-size: 6rem;
}
.marvelous-describe p {
  font-size: 2.3rem;
}
.marvelous-picture img {
  position: absolute;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.copyright-col a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media only screen and (min-width: 375px) and (max-width: 765px) {
  .marvelous-describe button {
    width: 50%;
  }
  .marvelous-describe {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .title-describe-hero p {
    margin-top: 15px;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .marvelous-describe button {
    width: 100%;
  }
  .marvelous-describe {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .title-describe-hero p {
    margin-top: 20px;
  }
}
